.register {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register__head {
  text-align: center;
  margin-bottom: 50px;
}

.register__title {
  font-size: 42px;
  font-weight: 600;
  color: var(--se-dark-grey);
  margin-bottom: 2px;
}

.register__desc {
  font-size: 16px;
  color: var(--se-light-grey);
}

.register__form {
  width: 450px;
  display: grid;
  grid-gap: 24px;
  position: relative;
}

.register__field {
  display: grid;
  grid-gap: 10px;
}

.register__label {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.register__input {
  border-radius: 12px;
  background: var(--se-light-blue);
}

.error-message {
  width: 100%;
  color: red;
  text-align: center;
  position: absolute;
  bottom: 62px;
  left: 50%;
  transform: translateX(-50%);
}

.register__button {
  margin-top: 20px;
  background: var(--se-life-green);
  color: #fff;
  font-size: 18px;
  padding: 14px 0;
}

.register__button:hover {
  background: #3abe52;
}

.register__login-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: var(--se-light-grey);
}

.register__login-link a {
  color: var(--se-life-green);
  font-weight: 500;
  text-decoration: none;
  transition: .3s ease-out;
}

.register__login-link a:hover {
  color: #3abe52;
  text-decoration: underline;
}

.register__oauth {
  width: 100%;
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.register__button-oauth svg {
  width: 1.5em;
  height: 1.5em;
}

.register__button-oauth {
  width: 100%;
  border: 1px solid #ededed;
  background: #fff;
  font-size: 14px;
  font-family: var(--inter-font);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 14px 0;
  transition: .3s ease-out;
}

.register__button-oauth:hover {
  background: #000000d0;
  border: 1px solid #000000d0;
  color: #fff;
}

.register__button-oauth svg path {
  transition: .3s ease-out;
}

.register__button-oauth:hover svg path {
  fill: #fff;
}
